logs/**
mods/**
resourcePacks/**
journeymap/**
BotaniaVars.dat
astralsorcery/gatewayFilter/worldFilter.dat
options.txt
usercache.json
usernamecache.json
screenshots/**
config/splash.properties
saves/**
structures/inactive/*
