logs/**
mods/**
resourcePacks/**
journeymap/**
BotaniaVars.dat
astralsorcery/gatewayFilter/worldFilter.dat
options.txt
usercache.json
usernamecache.json
screenshots/**
config/splash.properties
saves/**
.mixin.out/audit/mixin_implementation_report.txt
OpenComputersMod-1.7.3.146-lua52-native.64.dll
OpenComputersMod-1.7.3.146-lua53-native.64.dll
config/IC2.ini
config/astralsorcery/amulet_enchantments.cfg
config/AppliedEnergistics2/VersionChecker.cfg
structures/inactive/temp.rcst
crash-reports/**
config/sponge/worlds/**
config/jei/worldSettings.cfg
schematics/**
config/AppliedEnergistics2/items.csv
config/EffortlessBuilding.cfg
config/multimob/modInformation/
config/worldedit/worldedit.properties
config/AppliedEnergistics2/CustomRecipes.cfg
config/replaymod.cfg
config/replaymod-render.cfg
config/replaymod-online.cfg
*.mcpr
